@model DAL.Account

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Account</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditCard_CreditCardId, "CreditCardId")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CreditCard_CreditCardId", String.Empty)
            @Html.ValidationMessageFor(model => model.CreditCard_CreditCardId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountUser_PersonId, "PersonId")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AccountUser_PersonId", String.Empty)
            @Html.ValidationMessageFor(model => model.AccountUser_PersonId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Limit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Limit)
            @Html.ValidationMessageFor(model => model.Limit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Balance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Balance)
            @Html.ValidationMessageFor(model => model.Balance)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
